scrape_configs:
- job_name: cadvisor
  scrape_interval: 5s
  static_configs:
  - targets:
    - cadvisor:8080
- job_name: 'consumer'
  scrape_interval: 5s
  static_configs:
  - targets:
    - consumer:1234
  metrics_path: /metrics
